.nav {
  margin-top: 1em;
  margin-bottom: 5px;
  padding: 0 1em;
}


form {
  margin: 0;
}

.parser {
  margin-top: 1px;
}

.nav {
  min-height: 37px;
}

.nav button {
  margin-left: 5px;
}

.nav input:focus {
  outline: none;
}
.nav input {
  border: none;
  padding: 0;
  height: 18px;
  position: relative;
  top: -2px;
}

.nav li.active i {
  background-image: url("bootstrap/img/glyphicons-halflings.png") !important;
  margin-left: 0.5em;
}

#introduction h1 {
  text-align: center;
  font-size: 7em;
  padding: 0.5em;

  /* http://simurai.com/post/698681341/inset-text-shadow */
  color: transparent;
  background-color: rgba(82,96,117,0.5);
  -webkit-background-clip: text;
  text-shadow: rgba(255,255,255,0.5) 0 5px 6px;
}

#introduction h2 {
  text-align: center;
}

#introduction p {
  text-align: center;
}

#help-window {
  display: none;
}